.container {
    // object-fit: contain;
    img {
    		height: 30%;
	    	width: 30%;
		    object-position: center;
		    margin-left: 400px;
    }

    ul {
    	margin-left: 500px; 
    }

    p {
    	margin-left: 400px;
    }
    
}