<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="box">
          <h3>Productos</h3>
          <ul>
            <li>
              <a routerLink="/products" [queryParams]="{ type: 'news' }"
                >Nuevas Imagenes</a
              >
            </li>           
            <li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="box">
          <h3>Quienes Somos</h3>
          <ul>
            <li><a routerLink="/about-us">Sobre nosotros</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="box">
          <h3>Contacto</h3>
          <ul>
            <li><a routerLink="/contact">Contactanos!</a></li>
          </ul>
          
        </div>
      </div>
    </div>
  </div>
</footer>
